* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class^="col-"]{
  float: left;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}
 /* HEADER */

 header {
   background-color: rgb(12, 50, 90);
 }

 /* Header NAV */

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

ul {
  display: inline-block;
  vertical-align: middle;
}

ul li {
  display: inline-block;
  vertical-align: middle;

}

ul li a , div.titolo + a {
  text-decoration: none;
  color: white ;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px;
  text-transform: uppercase;
  line-height: 80px;
}

.buttons {
  float: right;
}

.btn-bordered {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 0 15px;
}

.btn-green {
  background-color: rgb(124, 187, 2);
  border-radius: 10px;
}

/* Header NAV */

/* header jumbo */

.jumbo {
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.titolo {
  color: white;
  padding: 155px 0;
  font-size: 50px;
  width: 50%;
}

div.titolo + a {
  position: absolute;
  bottom: 60px;
  left: 190px;
  padding: 20px 10px;
  line-height: normal;
}
