/* Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class^="col-"]{
  float: left;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}
/* Layout */
/* Tipography */
body {
  font-family: 'Roboto' ,sans-serif;
}

 /* HEADER */

 header {
   background-color: rgb(12, 50, 90);
 }

 /* Header NAV */

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

ul {
  display: inline-block;
  vertical-align: middle;
}

ul li {
  display: inline-block;
  vertical-align: middle;

}

ul li a , .btn-big {
  text-decoration: none;
  color: white ;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px;
  text-transform: uppercase;
  line-height: 80px;
}

.buttons {
  float: right;
}

.btn-bordered {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 0 15px;
}

.btn-green {
  background-color: rgb(124, 187, 2);
  border-radius: 10px;
}

/* Header NAV */

/* header jumbo */

.jumbo {
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 110% 100%;
}

.titolo {
  color: white;
  padding-top: 125px;
  padding-bottom: 200px;
  width: 50%;
}

.title-txt {
  font-size: 60px;
  margin-bottom: 15px;
}

.btn-big {
  padding: 25px 10px ;
}

/* header jumbo */
/* HEADER */

/* MAIN */

/* Main-Top */
.bg-gray {
  background-color: rgb(211, 211, 211);
  height: 100px;
}

.main-top-txt {
  text-align: center;
  padding-top: 15px;
}

.txt-gray {
  color: rgb(128, 128, 128);
}

/* Main-Top */

/* Main-body-1 */

div.col-33 img {
  padding-top: 30px;
  margin: 0 auto;
  height: 100px;
  display: block;
}

.main-body-txt {
  color: rgb(124, 187, 2);
  text-align: center;
  margin-top: 5px;
  font-size: 25px;
}

.profile-txt {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.computer-txt {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.doc-txt {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.main-body-hr {
  width: 15%;
  margin: 20px auto;
}

/* Main-body-1 */

.main-body-hr-2 {
  margin: 50px 0;
}

/* Main-body-2 */

.graph {
  height: 400px;
  margin: 15px 20%;
}


.main-body-2-txt {
  width: 50%;
  margin: 9px auto;
  font-size: 25px;
}

.main-body-2-p {
  width: 50%;
  margin: 9px auto;
}

.block {
  display: block;
}

/* Main-body-2 */

/* MAIN */

/* UTILITY */

.col-100{
  width: 100%;
}

.col-33{
  width: calc(100% / 3);
}

.col-50 {
  width: calc(100% / 2);
}

.mt-1 {
  margin-top: 10%;
}
/* UTILITY */
