* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class^="col-"]{
  float: left;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
}
 /* HEADER */

 header {
   background-color: rgb(12, 50, 90);
   height: 80px;
 }

.logo {
  display: inline-block;
  vertical-align: middle;
}

ul {
  display: inline-block;
  vertical-align: middle;
}

ul li {
  display: inline-block;
  vertical-align: middle;

}

ul li a {
  text-decoration: none;
  color: white ;
  font-size: 15px;
  font-weight: bold;
  padding-left: 20px;
  text-transform: uppercase;
  line-height: 80px;
}

.btn {
  float: right;
}
